# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/target/
/compiler.xml
/encodings.xml
/jarRepositories.xml
/jpa-buddy.xml
/misc.xml
/SAFEeV.iml
/uiDesigner.xml
/vcs.xml
/inspectionProfiles/
